body {
  background-color: rgb(203, 209, 208);
}

.field {
  display: flex;
  padding: 10px;
  width: 25%;
  margin-left: 37.5%;
  color: #fff;
  font-size: 1.3em;
  flex-direction: column;
  align-items: center;
}

.box {
  border: 2px solid rgb(58, 93, 252);
  background-color: rgb(29, 178, 193);
  margin-bottom: 20px;
  padding: 10px;
  width: 80%;
}

.box:last-child {
  margin-bottom: 0;
}

button.btn {
  margin-right: 10px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 0.65em;
  color: #fff;
  outline: none;
}

.btn.light {
  background-color: #4eafc9;
  border: 2px solid #2a89a2;
}

.btn.red {
  background-color: rgb(232, 213, 213);
  border: 2px solid rgb(212, 161, 158);
}

.btn.light:hover {
  background-color: #2a89a2;
  border-color: #1d6f85;
}

.btn.red:hover {
  background-color: #b6821a;
  border-color: #946912;
}



.btn.success {
  background: rgb(150, 237, 42);
  border: 2px solid rgb(88, 171, 114);
  margin-left: 80px;
}

textarea {
  resize: none;
  background-color: #fafafa;
  border: 1.5px solid silver;
  border-radius: 5px;
  padding: 10px;
  font-size: 0.7em;
  width: 90%;
  outline: none;

}

textarea:focus {
  border-radius: 1.5px solid #6d79cd;
}

.btn.new {
  background-color: rgb(103, 178, 210);
  border: none;
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 15px;
}
.btn.new:hover {
  background-color: rgb(105, 107, 215);
}
